---
import { Image } from "astro:assets";
import Lars from "../assets/Lars.jpg";

import DefaultLayout from "../layouts/DefaultLayout.astro";

import AboutMe from "../json/AboutMe.json";

import { calculateAge } from "../javascript/age";
const birthDate = "2005-04-01";
const age = calculateAge(birthDate);
---

<DefaultLayout>
  <div class="space-y-4">
    <h2>Wat meer over mij</h2>
    <p>
      Hoi! Ik ben Lars, een
      <a
        class="custom-link-underline"
        href="https://dictionary.cambridge.org/us/dictionary/english/ambivert"
        target="_blank">ambivert</a
      > persoon. Sinds 2022 ben ik aan het programmeren en heb er geen spijt van.
      Mijn interesse in computers en het internet leidde mij tot de keuze voor een
      opleiding tot softwareontwikkelaar.
    </p>
    <p>
      Ik geniet ervan om mooie, eenvoudige en functionele websites te creëren.
      Het oplossen van problemen en het constant veranderende landschap van
      technologieën maakt programmeren en webontwikkeling ontzettend leuk voor
      mij.
    </p>
    <p>
      Ondanks mijn voorkeur voor eenvoudig design, heb ik een zwak voor oude
      retro websites zoals
      <a
        class="custom-link-underline hover:after:bg-[#2FA893]"
        href="https://dimden.dev/"
        target="_blank">Dimden's Hotel</a
      > en
      <a
        class="custom-link-underline hover:after:bg-[#5500A7]"
        href="https://www.cozynet.org/"
        target="_blank">CozyNet</a
      >.
    </p>
    <p>
      Buiten programmeren heb ik een interesse in filosofie en content die over
      de menselijke aard gaat. Hoewel ik nog niet veel lees, lijkt het me leuk
      om hier ooit tijd voor te maken. Daarnaast doe ik al heel lang aan
      krachttraining, wat me helpt om fit en gefocust te blijven.
    </p>
  </div>

  <div class="space-y-4">
    <h2>Wat van mijn interesses</h2>
    <div class="flex flex-wrap gap-2">
      {
        AboutMe.Interests.map((interest) => (
          <span class="mr-1 inline-block rounded border border-zinc-400 bg-zinc-200 px-4 py-2 text-sm">
            {interest.name}
          </span>
        ))
      }
    </div>
  </div>
  <div class="space-y-4">
    <h2>Wat van mijn hobby's</h2>
    <div class="flex flex-wrap gap-2">
      {
        AboutMe.Hobbies.map((hobby) => (
          <span class="mr-1 inline-block rounded border border-zinc-400 bg-zinc-200 px-4 py-2 text-sm">
            {hobby.name}
          </span>
        ))
      }
    </div>
  </div>
  <div class="space-y-4">
    <h2>
      Wat coole projecten <div class="text-sm">
        die ik gebruik / volg / interessant vind
      </div>
    </h2>
    <div class="flex flex-wrap gap-2">
      {
        AboutMe.CoolProjects.map((project) => (
          <span class="mr-1 inline-block rounded border border-zinc-400 bg-zinc-200 px-4 py-2 text-sm">
            <a
              href={project.link}
              class="custom-link-underline z-10"
              target="_blank"
            >
              {project.name}
            </a>
          </span>
        ))
      }
    </div>
  </div>
  <div class="space-y-4">
    <h2>
      Wat content creators <div class="text-sm">
        voor entertainment, informatie en inspiratie
      </div>
    </h2>
    <div class="flex flex-wrap gap-2">
      {
        AboutMe.PeopleIFollow.map((person) => (
          <span class="mr-1 inline-block rounded border border-zinc-400 bg-zinc-200 px-4 py-2 text-sm">
            <a
              href={person.link}
              class="custom-link-underline z-10"
              target="_blank"
            >
              {person.name}
            </a>
          </span>
        ))
      }
    </div>
  </div>
</DefaultLayout>
