---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ProjectsList from "../components/ProjectsList.astro";
import { Image } from "astro:assets";
import SignalQrCode from "../assets/SignalGroupQr.png";
import Lars from "../assets/Lars.jpg";

import AboutMe from "../json/AboutMe.json";

import { calculateAge } from "../javascript/age";
const birthDate = "2005-04-01";
const age = calculateAge(birthDate);
---

<DefaultLayout>
  <div
    class="flex flex-col-reverse items-center justify-between gap-8 md:flex-row"
  >
    <div class="max-w-96 space-y-8 text-center md:text-start">
      <h1>Software Developer</h1>
      <div class="max-w-[26rem] text-xl">
        {age} jaar oud, gevestigd in Arnhem met een passie voor programmeren en technologie
      </div>
      <div
        class="my-6 flex max-w-[26rem] flex-wrap justify-center gap-3 md:justify-start"
      >
        <a
          href="https://www.linkedin.com/in/lars-van-holland-754a7b269/"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded border border-zinc-200 bg-zinc-100 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-5 shrink-0 sm:size-6"
            viewBox="0 0 128 128"
            ><path
              fill="#0076b2"
              d="M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3"
            ></path><path
              fill="#fff"
              d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 1 1-10.5 10.49a10.5 10.5 0 0 1 10.5-10.49m20.41 29h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"
            ></path></svg
          >
          LinkedIn
        </a>
        <a
          href="https://github.com/FilterdWater"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded border border-zinc-200 bg-zinc-100 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-5 shrink-0 sm:size-6"
            viewBox="0 0 16 16"
            ><path
              fill="currentColor"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
            ></path></svg
          >

          Github
        </a>
      </div>
    </div>
    <div>
      <Image
        src={Lars}
        class="h-auto w-96 rounded outline outline-zinc-800"
        alt="Lars van Holland"
      />
    </div>
  </div>

  <div class="flex flex-col-reverse gap-20 md:gap-24 xl:flex-row xl:gap-8">
    <div class="max-w-full space-y-4 xl:max-w-[40rem]">
      <h2>Een beetje over mij</h2>
      <p>
        Ik ben Lars, een gedreven software developer in opleiding aan het
        <a
          class="custom-link-underline hover:after:bg-[#21AFE5]"
          href="https://www.technovacollege.nl/opleidingen/software-developer-0"
          target="_blank"
        >
          Technova College</a
        >.

        <p>
          Momenteel loop ik stage bij
          <a
            class="custom-link-underline hover:after:bg-[#1D38D0]"
            target="_blank"
            href="https://www.deindruk.nl/"
          >
            DeIndruk</a
          >, waar ik waardevolle praktijkervaring opdoe in vooral web
          development, maar ook in marketing en design. Tegelijkertijd ben ik
          actief op zoek naar een nieuwe stage voor mijn derde jaar zodat ik
          nieuwe vaardigheden kan leren en mijn bestaande vaardigheden verder
          kan ontwikkelen.
        </p>

        <p>
          Naast mijn studie en stage ben ik bezig met deze website en
          <a
            class="custom-link-underline hover:after:bg-[#E3B261]"
            href="https://www.theodinproject.com/"
            target="_blank"
          >
            The Odin Project</a
          >, een uitgebreid curriculum die mijn kennis en vaardigheden in web
          development verder uitbreidt.
        </p>

        <p>
          Ik werk voortdurend aan het verbeteren van mijn programming skills
          zowel als in mijn vrije tijd, op school, of op stage. Hoewel ik nog
          niet op het niveau ben dat ik nastreef, maak ik elke dag vooruitgang.
          Mijn uiteindelijke doel is om code te kunnen schrijven die bijdraagt
          aan FOSS-projecten waar ik zelf gebruik van maak en die ik inspirerend
          vind.
        </p>

        <p>
          Hoewel ik nauwelijks sociale media gebruik, ben ik wel bereikbaar voor
          professioneel contact. Dat kan via
          <a
            class="custom-link-underline hover:after:bg-[#0A66C2]"
            href="https://www.linkedin.com/in/lars-van-holland-754a7b269/"
            target="_blank"
          >
            LinkedIn</a
          >, of door mij een bericht te sturen op
          <span class="group relative inline-block">
            <a
              href="https://signal.me/#eu/zCEtrHMAJ5xk_Kde4OUQxd9CidceFMvptx8I_63324_eqfwQ3pdAMbcxF3pZkOUo"
              target="_blank"
              class="custom-link-underline block hover:after:bg-[#3A76EF]"
            >
              Signal</a
            >
            <span
              class="right absolute bottom-full z-10 hidden w-72 -translate-x-[7.27rem] transform shadow group-hover:block"
            >
              <Image
                src={SignalQrCode}
                alt="Signal QR Code"
                class="h-auto w-full"
              />
            </span>
          </span>.
        </p>
      </p>
    </div>
    <div class="flex flex-col justify-center space-y-12">
      <div class="space-y-4">
        <div class="flex flex-row items-center gap-1">
          <svg
            class="h-10 w-10"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M14.18 4.276a.75.75 0 0 1 .531.918l-3.973 14.83a.75.75 0 0 1-1.45-.389l3.974-14.83a.75.75 0 0 1 .919-.53m2.262 3.053a.75.75 0 0 1 1.059-.056l1.737 1.564c.737.662 1.347 1.212 1.767 1.71c.44.525.754 1.088.754 1.784c0 .695-.313 1.258-.754 1.782c-.42.499-1.03 1.049-1.767 1.711l-1.737 1.564a.75.75 0 0 1-1.004-1.115l1.697-1.527c.788-.709 1.319-1.19 1.663-1.598c.33-.393.402-.622.402-.818c0-.195-.072-.424-.402-.817c-.344-.409-.875-.89-1.663-1.598l-1.697-1.527a.75.75 0 0 1-.056-1.06m-8.94 1.06a.75.75 0 1 0-1.004-1.115L4.761 8.836c-.737.662-1.347 1.212-1.767 1.71c-.44.525-.754 1.088-.754 1.784c0 .695.313 1.258.754 1.782c.42.499 1.03 1.049 1.767 1.711l1.737 1.564a.75.75 0 0 0 1.004-1.115l-1.697-1.527c-.788-.709-1.319-1.19-1.663-1.598c-.33-.393-.402-.622-.402-.818c0-.195.072-.424.402-.817c.344-.409.875-.89 1.663-1.598z"
            ></path>
          </svg>
          <h3>Technische vaardigheden</h3>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            AboutMe.TechIUse.map((technologie) => (
              <span class="mr-1 inline-block rounded border border-zinc-200 bg-zinc-100 px-4 py-2 text-sm">
                {technologie.name}
              </span>
            ))
          }
        </div>
      </div>
      <div class="space-y-4">
        <div class="flex flex-row items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10"
            viewBox="0 0 32 32"
            ><path
              fill="currentColor"
              d="M27 24a2.96 2.96 0 0 0-1.285.3l-4.3-4.3H18v2h2.586l3.715 3.715A3 3 0 0 0 24 27a3 3 0 1 0 3-3m0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1m0-15a2.995 2.995 0 0 0-2.816 2H18v2h6.184A2.995 2.995 0 1 0 27 13m0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1m0-15a3.003 3.003 0 0 0-3 3a3 3 0 0 0 .348 1.373L20.596 10H18v2h3.404l4.4-4.252A2.999 2.999 0 1 0 27 2m0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1"
            ></path><path
              fill="currentColor"
              d="M18 6h2V4h-2a3.98 3.98 0 0 0-3 1.382A3.98 3.98 0 0 0 12 4h-1a9.01 9.01 0 0 0-9 9v6a9.01 9.01 0 0 0 9 9h1a3.98 3.98 0 0 0 3-1.382A3.98 3.98 0 0 0 18 28h2v-2h-2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2m-6 20h-1a7.005 7.005 0 0 1-6.92-6H6v-2H4v-4h3a3.003 3.003 0 0 0 3-3V9H8v2a1 1 0 0 1-1 1H4.08A7.005 7.005 0 0 1 11 6h1a2 2 0 0 1 2 2v4h-2v2h2v4h-2a3.003 3.003 0 0 0-3 3v2h2v-2a1 1 0 0 1 1-1h2v4a2 2 0 0 1-2 2"
            ></path></svg
          >
          <h3>Vaardigheden die ik wil verwerven</h3>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            AboutMe.TechToTry.map((tech) => (
              <span class="mr-1 inline-block rounded border border-zinc-200 bg-zinc-100 px-4 py-2 text-sm">
                {tech.name}
              </span>
            ))
          }
        </div>
      </div>
      <div class="space-y-4">
        <div class="flex flex-row items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M3 6.25A3.25 3.25 0 0 1 6.25 3h11.5A3.25 3.25 0 0 1 21 6.25v5.658a1.4 1.4 0 0 0-.988-.791a5 5 0 0 0-.512-.085V8.5h-15v9.25c0 .966.784 1.75 1.75 1.75h5.676l-.186.186A2.5 2.5 0 0 0 11.044 21H6.25A3.25 3.25 0 0 1 3 17.75zm12.994 5.683L14.28 10.22a.75.75 0 1 0-1.06 1.06l1.691 1.692a5.1 5.1 0 0 1 1.083-1.04M4.5 7h15v-.75a1.75 1.75 0 0 0-1.75-1.75H6.25A1.75 1.75 0 0 0 4.5 6.25zm6.28 4.28a.75.75 0 1 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 1 0 1.06-1.06l-2.47-2.47zm9.019.814c.353.077.44.507.185.762l-1.905 1.904a1.527 1.527 0 0 0 2.16 2.16l1.905-1.904c.255-.255.685-.168.762.185a4.075 4.075 0 0 1-5.57 4.622l-2.729 2.73a1.527 1.527 0 0 1-2.16-2.16l2.73-2.73a4.074 4.074 0 0 1 4.622-5.57"
            ></path></svg
          >
          <h3>Tools die ik dagelijks gebruik</h3>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            AboutMe.ToolsIUse.map((tool) => (
              <span class="mr-1 inline-block rounded border border-zinc-200 bg-zinc-100 px-4 py-2 text-sm">
                {tool.name}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <div class="space-y-4">
    <h2>
      Live demo's <div class="text-sm font-normal">
        (Wat projecten die gemaakt zijn op Technova)
      </div>
    </h2>
    <ProjectsList />
  </div>

  <div class="space-y-4">
    <h2>Over deze site</h2>
    <p>
      Deze website is grotendeels gemaakt met
      <a
        class="custom-link-underline hover:after:bg-orange-500"
        href="https://astro.build/"
        target="_blank">Astro</a
      > en
      <a
        class="custom-link-underline hover:after:bg-[#38BDF8]"
        href="https://tailwindcss.com/"
        target="_blank">TailwindCSS</a
      >.
    </p>
    <p>
      Als je geïnteresseerd bent in de broncode van deze website, kun je die
      vinden tussen <a
        class="custom-link-underline hover:after:bg-[#010409]"
        href="https://github.com/FilterdWater?tab=repositories"
        target="_blank">mijn publieke GitHub-repo's</a
      >.
    </p>
  </div>
</DefaultLayout>
