---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ProjectsList from "../components/ProjectsList.astro";
import { Image } from "astro:assets";
import SignalQrCode from "../assets/SignalGroupQr.png";
import Lars from "../assets/Lars.jpg";

import AboutMe from "../json/AboutMe.json";

import { calculateAge } from "../javascript/age";
const birthDate = "2005-04-01";
const age = calculateAge(birthDate);
---

<DefaultLayout>
  <div
    class="flex flex-col-reverse items-center justify-center gap-8 md:flex-row"
  >
    <div class="space-y-8 text-center md:text-start">
      <h1>Software Developer</h1>
      <div class="max-w-[26rem] text-xl">
        {age} jaar oud, gevestigd in Arnhem met een passie voor programmeren en technologie
      </div>
      <div
        class="my-6 flex max-w-[26rem] flex-wrap justify-center gap-3 md:justify-start"
      >
        <a
          href="https://www.linkedin.com/in/lars-van-holland-754a7b269/"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded-lg border border-zinc-100 bg-zinc-50 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1024 1024"
            class="size-5 shrink-0 sm:size-6"
            ><path
              fill="#0275b4"
              d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3m0 736q-671.7-.15-671.7-.3q.15-671.7.3-671.7q671.7.15 671.7.3q-.15 671.7-.3 671.7M230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8m252.3 245.1c0-49.8 9.5-98 71.2-98c60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9c-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6z"
            ></path></svg
          >
          LinkedIn
        </a>
        <a
          href="https://github.com/FilterdWater"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded-lg border border-zinc-100 bg-zinc-50 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="size-5 shrink-0 sm:size-6"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.6-.6 1.2-.5 2V21"
            ></path>
          </svg>
          Github
        </a>
        <a
          href="#"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded-lg border border-zinc-100 bg-zinc-50 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="size-5 shrink-0 text-green-500 sm:size-6"
          >
            <rect
              width="416"
              height="320"
              x="48"
              y="96"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              rx="40"
              ry="40"></rect><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="m112 160l144 112l144-112"></path></svg
          >
          Email
        </a>
        <!-- <a
          href="#"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded-lg border border-zinc-100 bg-zinc-50 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="size-5 shrink-0 text-green-400 sm:size-6"
          >
            <path
              fill="currentColor"
              d="M17 3.34A10 10 0 1 1 2 12l.005-.324A10 10 0 0 1 17 3.34m-2.168 11.605c-1.285-1.927-4.354-2.132-6.387-.777a1 1 0 0 0 1.11 1.664c1.195-.797 3.014-.675 3.613.223a1 1 0 1 0 1.664-1.11M16.1 11.7c-2.469-1.852-5.895-2.187-8.608-.589a1 1 0 0 0 1.016 1.724c1.986-1.171 4.544-.92 6.392.465a1 1 0 0 0 1.2-1.6m1.43-3.048C13.853 6.354 9.764 6.5 6.553 8.106a1 1 0 0 0 .894 1.788c2.635-1.317 5.997-1.437 9.023.454a1 1 0 1 0 1.06-1.696"
            ></path>
          </svg>
          Spotify
        </a> -->
        <!-- <a
          href="#"
          target="_blank"
          class="flex max-w-32 grow items-center justify-center gap-1 rounded-lg border border-zinc-100 bg-zinc-50 p-2 text-sm transition hover:rotate-2 hover:scale-110 sm:gap-2 sm:px-4 sm:text-base"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="size-5 shrink-0 text-[#5865F2] sm:size-6"
          >
            <path
              fill="currentColor"
              d="m14.983 3l.123.006c2.014.214 3.527.672 4.966 1.673a1 1 0 0 1 .371.488c1.876 5.315 2.373 9.987 1.451 12.28C20.891 19.452 19.288 21 17.5 21c-.732 0-1.693-.968-2.328-2.045a22 22 0 0 0 2.103-.493a1 1 0 1 0-.55-1.924c-3.32.95-6.13.95-9.45 0a1 1 0 0 0-.55 1.924q1.074.307 2.103.494C8.193 20.031 7.232 21 6.5 21c-1.788 0-3.391-1.548-4.428-3.629c-.888-2.217-.39-6.89 1.485-12.204a1 1 0 0 1 .371-.488C5.367 3.678 6.88 3.22 8.894 3.006a1 1 0 0 1 .935.435l.063.107l.651 1.285l.137-.016a13 13 0 0 1 2.643 0l.134.016l.65-1.284a1 1 0 0 1 .754-.54zM9 10a2 2 0 0 0-1.977 1.697l-.018.154L7 12l.005.15A2 2 0 1 0 9 10m6 0a2 2 0 0 0-1.977 1.697l-.018.154L13 12l.005.15A2 2 0 1 0 15 10"
            ></path>
          </svg>
          Discord
        </a> -->
      </div>
    </div>
    <div>
      <Image
        src={Lars}
        class="h-auto w-96 rounded-sm outline outline-zinc-800"
        alt="Lars van Holland"
      />
    </div>
  </div>
  <div class="flex flex-col-reverse gap-8 lg:flex-row">
    <div class="max-w-2xl space-y-4">
      <h2>Een beetje over mij</h2>
      <p>
        Hallo, ik ben Lars van Holland, een gedreven software developer in
        opleiding aan het
        <a
          class="custom-link-underline hover:after:bg-[#21AFE5]"
          href="https://www.technovacollege.nl/opleidingen/software-developer-0"
          target="_blank"
        >
          Technova College</a
        >. Als een
        <a
          class="custom-link-underline"
          href="https://dictionary.cambridge.org/us/dictionary/english/ambivert"
          target="_blank"
        >
          ambivert</a
        > persoon, combineer ik de sterke punten van zowel introverte als extraverte
        eigenschappen.
      </p>

      <p>
        Momenteel loop ik stage bij
        <a
          class="custom-link-underline hover:after:bg-[#1D38D0]"
          target="_blank"
          href="https://www.deindruk.nl/"
        >
          DeIndruk</a
        >, waar ik waardevolle praktijkervaring opdoe in marketing, design en
        web development. Tegelijkertijd ben ik actief op zoek naar een nieuwe
        stage voor mijn derde jaar, zodat ik mijn vaardigheden nog verder kan
        ontwikkelen.
      </p>

      <p>
        Mijn passie voor software/web development komt voort uit mijn waardering
        voor esthetisch aantrekkelijke, gebruiksvriendelijke, functionele,
        websites en software. Recentelijk heb ik mijn interesse uitgebreid naar
        de cyber security ruimte, een veld waarin ik mezelf tegenwoordig graag
        regelmatig in verdiep.
      </p>

      <p>
        Ik werk voortdurend aan het verbeteren van mijn programming skills.
        Hoewel ik nog niet op het niveau ben dat ik nastreef, maak ik elke dag
        vooruitgang. Mijn uiteindelijke doel is om code te kunnen schrijven die
        bijdraagt aan FOSS-projecten waar ik zelf gebruik van maak en die ik
        inspirerend vind.
      </p>

      <p>
        Naast mijn studie en stage ben ik bezig met deze website en
        <a
          class="custom-link-underline hover:after:bg-[#E3B261]"
          href="https://www.theodinproject.com/"
          target="_blank"
        >
          The Odin Project</a
        >, een uitgebreid curriculum die mijn kennis en vaardigheden in web
        development verder uitbreidt.
      </p>

      <p>
        Hoewel ik nauwelijks sociale media gebruik, ben ik wel bereikbaar voor
        professioneel contact. Dat kan via
        <a
          class="custom-link-underline hover:after:bg-[#0A66C2]"
          href="https://www.linkedin.com/in/lars-van-holland-754a7b269/"
          target="_blank"
        >
          LinkedIn</a
        >, via
        <a
          class="custom-link-underline"
          href="mailto:lars.van.holland@example.com"
          target="_blank"
        >
          E-mail</a
        >, of door een bericht te sturen op
        <span class="group relative inline-block">
          <a
            href="https://signal.me/#eu/zCEtrHMAJ5xk_Kde4OUQxd9CidceFMvptx8I_63324_eqfwQ3pdAMbcxF3pZkOUo"
            target="_blank"
            class="custom-link-underline block hover:after:bg-[#3A76EF]"
          >
            Signal</a
          >
          <span
            class="right absolute bottom-full z-10 hidden w-72 -translate-x-[7.27rem] transform shadow group-hover:block"
          >
            <Image
              src={SignalQrCode}
              alt="Signal QR Code"
              class="h-auto w-full"
            />
          </span>
        </span>.
      </p>
    </div>

    <div class="flex flex-col justify-center space-y-4">
      <div class="space-y-4">
        <div class="flex flex-row items-center gap-1">
          <svg
            class="h-10 w-10"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M14.18 4.276a.75.75 0 0 1 .531.918l-3.973 14.83a.75.75 0 0 1-1.45-.389l3.974-14.83a.75.75 0 0 1 .919-.53m2.262 3.053a.75.75 0 0 1 1.059-.056l1.737 1.564c.737.662 1.347 1.212 1.767 1.71c.44.525.754 1.088.754 1.784c0 .695-.313 1.258-.754 1.782c-.42.499-1.03 1.049-1.767 1.711l-1.737 1.564a.75.75 0 0 1-1.004-1.115l1.697-1.527c.788-.709 1.319-1.19 1.663-1.598c.33-.393.402-.622.402-.818c0-.195-.072-.424-.402-.817c-.344-.409-.875-.89-1.663-1.598l-1.697-1.527a.75.75 0 0 1-.056-1.06m-8.94 1.06a.75.75 0 1 0-1.004-1.115L4.761 8.836c-.737.662-1.347 1.212-1.767 1.71c-.44.525-.754 1.088-.754 1.784c0 .695.313 1.258.754 1.782c.42.499 1.03 1.049 1.767 1.711l1.737 1.564a.75.75 0 0 0 1.004-1.115l-1.697-1.527c-.788-.709-1.319-1.19-1.663-1.598c-.33-.393-.402-.622-.402-.818c0-.195.072-.424.402-.817c.344-.409.875-.89 1.663-1.598z"
            ></path>
          </svg>
          <h3>Technische vaardigheden</h3>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            AboutMe.TechIUse.map((technologie) => (
              <span class="mr-1 inline-block rounded-md bg-zinc-100 px-4 py-2 text-sm">
                {technologie.name}
              </span>
            ))
          }
        </div>
      </div>
      <div class="space-y-4">
        <div class="flex flex-row items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="h-10 w-10"
          >
            <path
              fill="currentColor"
              d="M5.33 3.272a3.5 3.5 0 0 1 4.254 4.962l10.709 10.71l-1.414 1.414l-10.71-10.71a3.502 3.502 0 0 1-4.962-4.255L5.444 7.63a1.5 1.5 0 0 0 2.121-2.121zm10.367 1.883l3.182-1.768l1.414 1.415l-1.768 3.181l-1.768.354l-2.12 2.121l-1.415-1.414l2.121-2.121zm-6.718 8.132l1.415 1.414l-5.304 5.303a1 1 0 0 1-1.492-1.327l.078-.087z"
            ></path>
          </svg>
          <h3>Tools en technologieën</h3>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            AboutMe.ToolsIUse.map((tool) => (
              <span class="mr-1 inline-block rounded-md bg-zinc-100 px-4 py-2 text-sm">
                {tool.name}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <div class="space-y-4">
    <h2>
      Live demo's <span class="text-sm font-normal"
        >(Projecten gemaakt op Technova)</span
      >
    </h2>
    <ProjectsList />
  </div>
  <div class="space-y-4">
    <h2>Over deze site</h2>
    <p>
      Deze website bestaat uit HTML, CSS, JavaScript en is grotendeels gemaakt
      met
      <a
        class="custom-link-underline hover:after:bg-orange-500"
        href="https://astro.build/"
        target="_blank">Astro</a
      > en
      <a
        class="custom-link-underline hover:after:bg-[#38BDF8]"
        href="https://tailwindcss.com/"
        target="_blank">TailwindCSS</a
      >.
    </p>
    <p>
      Als je geïnteresseerd bent in de broncode van deze website, kun je die
      vinden tussen <a
        class="custom-link-underline hover:after:bg-[#010409]"
        href="https://github.com/FilterdWater?tab=repositories"
        target="_blank">mijn publieke GitHub-repo's</a
      >.
    </p>
  </div>
</DefaultLayout>
